.content{
    background-color: darkgray;
    flex: 1;
    align-items: flex-start;
}

*{
    font-size: 12px;
}

aside{
    float: left;
    width: 150px;
    height: 100px;
    overflow: hidden;
}

.list{
    background-color: bisque;
    width: 100%;
    height: 100px;
}

.aqua{
    background-color: aqua;
    display: flex;
    border: 1px solid green;
}

ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
    background-color: bisque;
    width: 100%;
    height: 100px;
    
}

li{
    margin: 0 10px;
}

@media (max-width: 800px) {
    .aqua {
        flex-direction: column;
    }
    aside{
        width: 20%;
    }
    main{
        width: 80%;
    }
}