
header{
    background-color: lightgrey;
    padding: 1px;
}

.left-column{
    width: 25%;
    height: 100%;
    float: left;
    background-color: #C8FC98;
}

.content{
    margin-left: 210px;
    height: 100%;
}

.text{
    line-height: 1.5;
}


